<!doctype html>
<!-- 
Jacob Petrillo
6/12/20
jmp16
"The program in this file is the individual
work of Jacob Petrillo"
-->

<!--This page will be brought up as a result of submitting
a review entry. It will inform the user if their entry was
done successfully or not, and provide a link back to the 
homepage-->

<html>
	<body>
	{{ msg }}<br>
	<h4><a href = '/SummonerSearch'>Back to {{summonerName}}'s Profile</a></h4>
	<h4><a href = '/recordedGames'>See {{summonerName}}'s Recorded Games</a></h4>
	<h4><a href = '/'>Back to Home</a></h4>
	</body>

</html>
